@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: indigo;
}
.quintessential-heading {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}


